<?xml version="1.0"?>

<model>
  <name>Small World - Test 3</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jakob Wilm</name>
    <email>jaw@mmmi.sdu.dk</email>
  </author>

  <description>
    An enviroment created from an extruded 2D floor plan.
  </description>
</model>
