<?xml version="1.0"?>

<model>
  <name>Invisible Ground Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jakob Wilm</name>
    <email>jaw@mmmi.sdu.dk</email>
  </author>

  <description>
    A simple, invisible ground plane providing collision options, but not causing visualization problems.
  </description>
</model>
